.header {  
  height: 64px;
  color: #FFF;
  background: #4A90E2;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  padding-left: 50px;
}

.perfil {
  font-weight: bold;
  padding-right: 50px;
}