.post {
  margin-top: 20px;
  border-radius: 8px;
  background: white;
  padding: 20px;
  color: #3e3e3e;
  line-height: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.post-header {
  display: flex;
  margin-bottom: 10px;
}

.post-header > .avatar {
  border-radius: 50%;
}

.post-header > .info {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.post-header > .info > .date {
  color: #9A9A9A
}